* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
}

main {
    margin: 0 auto;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    
}

.recepe-container {
    height: 60%;
    flex: 40%;
    background-color: darkslateblue;
    
    .recepe {
        width: 80%;
        font-size: 20px;
        text-align: center;
        


        li {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            
        }
    }
}

.plate-container {
    flex: 60%;
    height: 60%;
    background-color: azure;
    position: relative;
    float: left;
    
    .burger {
        height: 72%;
        width: 50%;
        left: 25%;
        position: relative;
        z-index: 10;
        // background-color: bisque;
    }


    .plate {
        width: 80%;
        height: 50%;
        background-image: url(./plate.png);
        background-repeat: no-repeat;
        background-size: 50% auto;
        background-position: center;
        position: absolute;
        border-radius: 50%;
        left: 10%;
        bottom: 10%;
        
                
        &-ring {
            width: 40%;
            height: 20%;
            border: 2px solid darkslategray;
            border-radius: 50%;
            margin: 5% 30% 0 30%;
            
        }
    }
}

.ingridients-container {
    display: flex;
    flex-flow: row wrap;
    height: 40%;
    flex: 100%;

    .ingridient {
        flex: 0 25%;
        height: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
}

.bun-bottom {
    background-image: url(./bun-bottom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;
    height: 40%;
    width: 70%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    left: 15%;
}

.bun-top {
    background-image: url(./bun-top.png);
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: 50% auto;
    height: 40%;
    width: 80%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    left: 10%;
}

.meat {
    background-image: url(./meat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;
    height: 40%;
    width: 60%;
    border-radius: 50%;
    left: 20%;
}

.tomato {
    background-image: url(./tomato.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    height: 40%;
    width: 50%;
    border-radius: 50%;
    left: 25%;
}

.lettuce {
    background-image: url(./lettuce.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    height: 40%;
    width: 40%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    left: 30%;

}

.cheese {
    background-image: url(./cheese.png);
    background-repeat: no-repeat;
    background-position: center 120%;
    background-size: 100% auto;
    height: 40%;
    width: 50%;
    left: 25%;
}

.on-plate {
    position: absolute;
    bottom: 0;
    height: 18%;

    &.lettuce {
        transform: rotateX(45deg);
        height: 22%;
    }
    &.cheese {
        background-position: center 120%;
    }
    &.bun-top {
        height: 22%;
    }
    
}